<main role="main">

    <!-- BRAND -->
    <section class="jumbotron jumbotron-fluid text-light">
        <div class="brand-content container">
            <h1 class="display-4">A ÁGUA</h1>
            <p class="lead">Fornecimento de água para caixas d'água, piscinas e jardinagem em caminhão pipa.<br />
                Entrega rápida com preço justo.</p>
        </div>
    </section>

    <!-- MARKETING -->
    <div class="marketing container">
        <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle" src="./assets/ind2.png" alt="">
                <h4>INDÚSTRIA E COMÉRCIO</h4>
                <p>Se inesperadamente o suprimento de água da sua empresa é interrompido, podemos ajudar antecipando o fornecimento de água, seja bobeando diretamente para seu depósito ou enchendo a caixa d'água de sua empresa.</p>
            </div>
            <div class="col-lg-4">
                <img class="rounded-circle" src="./assets/agricultura.png" alt="">
                <h4>AGRÍCULTURA</h4>
                <p>A Água fornece água para irrigação e fins agrícolas, uma técnica essencial para manutenção de plantações que assegura a fertilidade do solo, germinação de sementes e processo de fotossíntese de plantas, folhagem e grama.</p>
            </div>
            <div class="col-lg-4">
                <img class="rounded-circle" src="./assets/pool.png" alt="">
                <h4>ÁGUA PARA PISCINAS</h4>
                <p>Encher sua piscina com água da torneira é um processo caro e lento, você ainda pode pagar taxas de esgoto e limite de uso. A Água fornece água limpa e de qualidade para encher sua piscina de maneira segura, rápida e conveniente.</p>
            </div>
        </div>
    </div>

    <!-- ATTENDANCE -->
    <div class="attendance dg-gray-3 text-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block">
                    <img class="img-fluid" src="./assets/iPhone.png" alt="">
                </div>
                <div class="col-lg-7 attendance-content">
                    <h3>ATENDIMENTO ONLINE</h3>
                    <img class="img-fluid" src="./assets/WhatsApp_Logo_1.png" alt="">
                    <h4>(19) 97411 1769</h4>
                    <h4>Solicite um orçamento com nossa central de atendimento</h4>
                </div>
            </div>
        </div>
    </div>

    <!-- FEATURETTE -->
    <div class="container">
        
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Title <span class="text-muted">Subtitle</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 text-center">
                <img class="bd-placeholder-img-lg featurette-image img-fluid" src="./assets/E.jpeg" alt="">
            </div>
        </div>

        <div class="row featurette d-none">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Title <span class="text-muted">Subtitle</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img-lg featurette-image img-fluid" src="./assets/F.jpeg" alt="">
            </div>
        </div>

    </div>

    <!-- LOCATION -->
    <div class="location d-none">
        <h3>ATENDEMOS CAMPINAS E REGIÃO</h3>
    </div>

    <!-- POOL -->
    <div class="pool dg-gray-3 height-3 d-none">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <h3>CALCULO DE LITROS DE PISCINAS</h3>
                    <div class="row">
                        <div class="form-group col-xs-3">
                            <input type="number" class="form-control" placeholder="C" />
                        </div>
                        <div class="form-group col-xs-3">
                                <input type="number" class="form-control" placeholder="L" />
                        </div>
                        <div class="form-group col-xs-3">
                            <input type="number" class="form-control" placeholder="P" />
                        </div>
                        <div class="form-group col-xs-3">
                            <input type="number" class="form-control" placeholder="P" />
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <h3>Total: 0 m³</h3>
                </div>

            </div>
        </div>
    </div>

</main>