<div class="social dg-gray-6 height-2 d-none">
    <div class="coontainer">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="col-md-3">
                    <a href="#">facebook</a>
                </div>
                <div class="col-md-3">
                    <a href="#">instagram</a>
                </div>
                <div class="col-md-3">
                    <a href="#">email</a>
                </div>
                <div class="col-md-3">
                    <a href="#">phone</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <p class="text-muted">by DevWz</p>
        </div>
    </div>
</footer>